# üåü Essential Python Functions üåü

## Enhance Your Coding Skills with These Key Python Functions



## üîç Key Python Functions Overview

Here's a quick overview of some key Python functions:

- **`all()`**: ‚úÖ Verify if all elements in an iterable are `True`.
- **`any()`**: ‚ùì Check if any element in an iterable is `True`.
- **`zip()`**: üîó Combine multiple iterables into a single iterable.
- **`enumerate()`**: üî¢ Track indices while iterating through sequences.
- **`reversed()`**: üîÑ Reverse the order of elements in a sequence.
- **`min()`**: üìâ Find the smallest item in a sequence.
- **`max()`**: üìà Determine the largest item in a sequence.
- **`sorted()`**: üóÇÔ∏è Sort iterables in ascending or descending order.

---

##  In-Depth Examples 
---

### Using `all()` to Validate RGB Values

#### Function Description
- The `all()` function checks if all elements in an iterable (like a list or tuple) are `True`.
- If any element is `False`, it returns `False`.
- Otherwise, it returns `True`.

#### Implementing `valid_rgb()`
- We'll implement a function `valid_rgb()` to check if RGB values are within the valid range (0-255).
- Different implementations for this function will be shown.


---

### First Implementation : Using a for Loop

In [1]:
def valid_rgb(rgb):
    for val in rgb:
        if not 0 <= val <= 255:
            return False
    return True

### Explanation

- This implementation uses a `for` loop to iterate through each value in the `rgb` tuple.
- It checks if each value is within the range 0-255.
- If any value is outside this range, it returns `False`.
- If all values are within the range, it returns `True`.

##  Second Implementation: Using a while Loop

In [2]:
def valid_rgb(rgb):
    i = 0
    while i < len(rgb):
        if not 0 <= rgb[i] <= 255:
            return False
        i += 1
    return True

### Explanation

- This implementation uses a `while` loop to achieve the same functionality as the `for` loop version.
- It iterates through each value in the `rgb` tuple, checking if it lies within the 0-255 range.
- The loop continues until all values are checked or a value outside the range is found.

## Third Implementation: Using List Comprehension

In [3]:
def valid_rgb(rgb):
    return all([0 <= val <= 255 for val in rgb])

### Explanation

- This implementation uses list comprehension along with the `all()` function to check if all values in the `rgb` tuple are within the range 0-255.
- List comprehension creates a list of boolean values (`True` or `False`) for each check.
- The `all()` function ensures all values are `True`.

## Fourth Implementation: Using a Generator Expression

In [4]:
def valid_rgb(rgb):
    return all(0 <= val <= 255 for val in rgb)

### Explanation

- This implementation is similar to the list comprehension method but uses a generator expression.
- The `all()` function processes each value one by one, which is more memory efficient than creating a full list of boolean values.

## ‚úÖ Validation of Test Cases

In [5]:
test_cases = [
    ((23, 4, 225), True),    
    ((255, 255, 255), True), 
    ((300, 255, 200), False),
    ((250, 270, 190), False),
    ((250, 103, 490), False)
]

# Validate test cases using print with line numbers
for i, (rgb, expected) in enumerate(test_cases, start=1):
    result = valid_rgb(rgb)
    print(f"- Testing Line {i}: {rgb} - result={result}, expected={expected}")
    if result != expected:
        print(f"Line {i}: Test case {rgb} failed: Expected {expected} but got {result}")
    else:
        print("")

print('Test cases validation completed..üéØü•≥')

- Testing Line 1: (23, 4, 225) - result=True, expected=True

- Testing Line 2: (255, 255, 255) - result=True, expected=True

- Testing Line 3: (300, 255, 200) - result=False, expected=False

- Testing Line 4: (250, 270, 190) - result=False, expected=False

- Testing Line 5: (250, 103, 490) - result=False, expected=False

Test cases validation completed..üéØü•≥

In [6]:
all(['Ronaldo','16','AA',''])

False

In [7]:
all(['Vini','16','AA','Y5'])

True

## üìã Conclusion

- Understanding different ways to implement and validate functions in Python is crucial for writing robust and efficient code.
- Using `all()` and exploring various implementations enhances our ability to handle different scenarios in coding.

### Using `any()` to Check for Digits

#### Function Description
- The `any()` function checks if any element in an iterable is `True`.
- If any element is `True`, it returns `True`.
- Otherwise, it returns `False`.

#### Implementing `contains_digit()`
- We'll implement a function `contains_digit()` to check if a string contains any digit.

## First Implementation: Using a for Loop

In [8]:
def contains_digit(input_user):
    for char in input_user:
        if char.isdigit():
            return True
    return False

### Explanation

- This implementation uses a `for` loop to iterate through each character in the `input_user` string.
- It checks if any character is a digit using the `isdigit()` method.
- If a digit is found, it returns `True`.
- If no digits are found, it returns `False`.

## Second Implementation: Using any() with a Generator Expression

In [9]:
def contains_digit(input_user):
    return any(char.isdigit() for char in input_user)

### Explanation

- This implementation uses the `any()` function combined with a generator expression.
- The generator expression checks each character in the `input_user` string to see if it's a digit.
- The `any()` function returns `True` as soon as it finds a digit, making this method more efficient.

## ‚úÖ Validation of Test Cases

In [10]:
# Test cases for contains_digit
digit_test_cases = [
    ('8Essential_Python', True),
    ('Hello_World123', True),
    ('Data', False)]

In [11]:
for i, (input_user, expected) in enumerate(digit_test_cases, start=1):
    result = contains_digit(input_user)
    print(f"- Testing Line {i}: {input_user} - result={result}, expected={expected}")
    if result != expected:
        print(f"Line {i}: Test case {input_user} failed: Expected {expected} but got {result}")
    else:
        print("")

print('Test cases validation completed..üéØü•≥')

- Testing Line 1: 8Essential_Python - result=True, expected=True

- Testing Line 2: Hello_World123 - result=True, expected=True

- Testing Line 3: Data - result=False, expected=False

Test cases validation completed..üéØü•≥

In [12]:
any(['Ronaldo','16','AA',''])

True

In [13]:
any(['Vini','16','AA','Y5'])

True

In [14]:
any([0,''])

False

In [15]:
any([0,'M.Salah'])

True

### üìã Conclusion

- Understanding different ways to implement and validate functions in Python is crucial for writing robust and efficient code.
- By using `all()` and `any()` and exploring various implementations, we've enhanced our ability to handle different scenarios in coding.

---
# Comprehensive Guide to `enumerate()`

The `enumerate()` function in Python is a handy tool for iterating over a sequence while keeping track of the index. Below are various ways to use `enumerate()` effectively.

## Example 1: Basic Enumeration with Index

Print each item in a list with its index using a traditional for loop with `range()` and `len()`.

In [16]:
countries = ['Egypt','Spain','England','Qatar','Saudi Arabia','Jordan']
for index in range(len(countries)):
    print(f'{index+1}. {countries[index]}')

1. Egypt
2. Spain
3. England
4. Qatar
5. Saudi Arabia
6. Jordan

## Example 2: Direct Iteration Over the List

In [17]:
for country in countries:
    print(country)

Egypt
Spain
England
Qatar
Saudi Arabia
Jordan

## Example 3: enumerate() for Index and Value

In [18]:
for index, country in enumerate(countries, start=1):
    print(f'{index}. {country}')

1. Egypt
2. Spain
3. England
4. Qatar
5. Saudi Arabia
6. Jordan

## Example 4: Tuple Output from enumerate()

In [19]:
for item in enumerate(countries, start=1):
    print(item)

(1, 'Egypt')
(2, 'Spain')
(3, 'England')
(4, 'Qatar')
(5, 'Saudi Arabia')
(6, 'Jordan')

# In-Depth Examples of `zip()` and `enumerate()`

## Example 1: Basic Use of `zip()`

The `zip()` function pairs elements from two or more lists together. This can be useful for creating tuples of related items.

In [20]:
countries = ['Egypt', 'Spain', 'England', 'Qatar', 'Saudi Arabia', 'Jordan']
capitals = ['Cairo', 'Madrid', 'London', 'Doha', 'Riyadh', 'Amman']


for country, capital in zip(countries, capitals):
    print(f'The Capital of {country} is {capital}')

The Capital of Egypt is Cairo
The Capital of Spain is Madrid
The Capital of England is London
The Capital of Qatar is Doha
The Capital of Saudi Arabia is Riyadh
The Capital of Jordan is Amman

## Example 2: Handling Unequal Length Lists

When the lists are of different lengths, zip() stops at the end of the shortest list. To handle this situation, use zip_longest() from the itertools module to fill in missing values.

In [21]:
from itertools import zip_longest

countries = ['Egypt', 'Spain', 'England', 'Qatar', 'Saudi Arabia', 'Jordan']
capitals = ['Cairo', 'Madrid', 'London', 'Doha']  # Missing some capitals


for country, capital in zip_longest(countries, capitals, fillvalue='Unknown'):
    print(f'The capital of {country} is {capital}')

The capital of Egypt is Cairo
The capital of Spain is Madrid
The capital of England is London
The capital of Qatar is Doha
The capital of Saudi Arabia is Unknown
The capital of Jordan is Unknown

In [22]:
countries = ['Egypt', 'Spain', 'England', 'Qatar', 'Saudi Arabia', 'Jordan']
capitals = ['Cairo', 'Madrid', 'London', 'Doha']

for country , capital in zip(countries,capitals):
    print(f'The Capital of {country} is {capital}')

The Capital of Egypt is Cairo
The Capital of Spain is Madrid
The Capital of England is London
The Capital of Qatar is Doha

---------

### Example 3: Creating and Unzipping Pairs

In [23]:
countries = ['Egypt', 'Spain', 'England', 'Qatar', 'Saudi Arabia', 'Jordan']
capitals = ['Cairo', 'Madrid', 'London', 'Doha', 'Riyadh', 'Amman']

# Creating pairs of countries and capitals
pairs = list(zip(countries, capitals))
pairs

[('Egypt', 'Cairo'),
 ('Spain', 'Madrid'),
 ('England', 'London'),
 ('Qatar', 'Doha'),
 ('Saudi Arabia', 'Riyadh'),
 ('Jordan', 'Amman')]

In [24]:
country,capital = zip(*pairs)
country

('Egypt', 'Spain', 'England', 'Qatar', 'Saudi Arabia', 'Jordan')

In [25]:
capital

('Cairo', 'Madrid', 'London', 'Doha', 'Riyadh', 'Amman')

------

# Challenge: `enumerate()` and `zip()`

## Births in England and Wales (Office for National Statistics)

In this challenge, you're given the number of births in England and Wales from 2010 to 2019. The list `year` contains all the years from 2010 to 2019, and the list `birth` contains the number of births for each corresponding year.

Your task is to return a list of tuples where each tuple contains the year, the number of births, and the running average of births up to that year.

### Explanation of Running Average
- **For 2010**: The running average is the number of births in 2010.
- **For 2011**: The running average is the average number of births in 2010 and 2011.
- This pattern continues, with each year's running average being the average number of births from 2010 up to that year.

<table style="width:100%; border-collapse: collapse;">
    <thead>
        <tr style="background-color: #4CAF50; color: white; padding: 15px; text-align: left;">
            <th style="padding: 12px; border: 1px solid #ddd;">Year</th>
            <th style="padding: 12px; border: 1px solid #ddd;">Number Of Births</th>
            <th style="padding: 12px; border: 1px solid #ddd;">Running Average</th>
        </tr>
    </thead>
    <tbody>
        <tr style="background-color: #f9f9f9; text-align: left;">
            <td style="padding: 12px; border: 1px solid #ddd;">2010</td>
            <td style="padding: 12px; border: 1px solid #ddd;">723,165</td>
            <td style="padding: 12px; border: 1px solid #ddd;">723,165</td>
        </tr>
        <tr style="background-color: #ffffff; text-align: left;">
            <td style="padding: 12px; border: 1px solid #ddd;">2011</td>
            <td style="padding: 12px; border: 1px solid #ddd;">723,913</td>
            <td style="padding: 12px; border: 1px solid #ddd;">723,539</td>
        </tr>
        <tr style="background-color: #f9f9f9; text-align: left;">
            <td style="padding: 12px; border: 1px solid #ddd;">2012</td>
            <td style="padding: 12px; border: 1px solid #ddd;">729,674</td>
            <td style="padding: 12px; border: 1px solid #ddd;">726,420</td>
        </tr>
        <tr style="background-color: #ffffff; text-align: left;">
            <td style="padding: 12px; border: 1px solid #ddd;">2013</td>
            <td style="padding: 12px; border: 1px solid #ddd;">698,512</td>
            <td style="padding: 12px; border: 1px solid #ddd;">710,839</td>
        </tr>
        <tr style="background-color: #f9f9f9; text-align: left;">
            <td style="padding: 12px; border: 1px solid #ddd;">2014</td>
            <td style="padding: 12px; border: 1px solid #ddd;">695,233</td>
            <td style="padding: 12px; border: 1px solid #ddd;">709,199</td>
        </tr>
        <tr style="background-color: #ffffff; text-align: left;">
            <td style="padding: 12px; border: 1px solid #ddd;">2015</td>
            <td style="padding: 12px; border: 1px solid #ddd;">697,852</td>
            <td style="padding: 12px; border: 1px solid #ddd;">710,509</td>
        </tr>
        <tr style="background-color: #f9f9f9; text-align: left;">
            <td style="padding: 12px; border: 1px solid #ddd;">2016</td>
            <td style="padding: 12px; border: 1px solid #ddd;">696,271</td>
            <td style="padding: 12px; border: 1px solid #ddd;">709,718</td>
        </tr>
        <tr style="background-color: #ffffff; text-align: left;">
            <td style="padding: 12px; border: 1px solid #ddd;">2017</td>
            <td style="padding: 12px; border: 1px solid #ddd;">679,106</td>
            <td style="padding: 12px; border: 1px solid #ddd;">701,136</td>
        </tr>
        <tr style="background-color: #f9f9f9; text-align: left;">
            <td style="padding: 12px; border: 1px solid #ddd;">2018</td>
            <td style="padding: 12px; border: 1px solid #ddd;">657,076</td>
            <td style="padding: 12px; border: 1px solid #ddd;">690,121</td>
        </tr>
        <tr style="background-color: #ffffff; text-align: left;">
            <td style="padding: 12px; border: 1px solid #ddd;">2019</td>
            <td style="padding: 12px; border: 1px solid #ddd;">640,370</td>
            <td style="padding: 12px; border: 1px solid #ddd;">681,768</td>
        </tr>
    </tbody>
</table>

---

In [26]:
def calculate_running_average(years, births):
    result = []
    sum_ = 0
    
    # Start enumerate from 1 by specifying the start parameter
    for index, (year, birth) in enumerate(zip(years, births), start=1):
        sum_ += birth
        running_average = round(sum_ / index)
        result.append((year, birth, running_average))
    
    return result

# Test the function with the provided data
years = [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]
births = [723_165, 723_913, 729_674, 698_512, 695_233, 697_852, 696_271, 679_106, 657_076, 640_370]

output = calculate_running_average(years, births)
for record in output:
    print(record)

(2010, 723165, 723165)
(2011, 723913, 723539)
(2012, 729674, 725584)
(2013, 698512, 718816)
(2014, 695233, 714099)
(2015, 697852, 711392)
(2016, 696271, 709231)
(2017, 679106, 705466)
(2018, 657076, 700089)
(2019, 640370, 694117)

# In-Depth Examples of `reversed(sequence)`

## Understanding Sequences and Iterables

### Sequences
A sequence is a type of iterable that has:
1. **A length**: You can get the number of elements in it.
2. **An index**: You can access elements by their position.
3. **Can be sliced**: You can get a subset of elements.

**Examples of Sequences:**
- Strings
- Lists
- Tuples

### Iterables That Are Not Sequences
- Dictionaries
- Sets
- Files
- Generators

## Reversing Sequences

### Using `reverse()`

The `reverse()` method reverses the sequence in-place, meaning it modifies the original sequence.

**Code Example:**

In [27]:
countries = ['Egypt', 'Spain', 'England', 'Qatar', 'Saudi Arabia', 'Jordan']
countries.reverse()

In [28]:
countries

['Jordan', 'Saudi Arabia', 'Qatar', 'England', 'Spain', 'Egypt']

## Using Slicing

- Slicing with **[::-1]** creates a reversed copy of the sequence without modifying the original sequence.

In [29]:
countries = ['Jordan', 'Saudi Arabia', 'Qatar', 'England', 'Spain', 'Egypt']
countries[::-1]

['Egypt', 'Spain', 'England', 'Qatar', 'Saudi Arabia', 'Jordan']

In [30]:
countries = ['Jordan', 'Saudi Arabia', 'Qatar', 'England', 'Spain', 'Egypt']
countries

['Jordan', 'Saudi Arabia', 'Qatar', 'England', 'Spain', 'Egypt']

## Using reversed()
- The reversed() function returns an iterator that yields elements of the sequence in reverse order. You need to convert it back to a list to see the reversed result.

In [31]:
for country in reversed(countries):
    print(country)

Egypt
Spain
England
Qatar
Saudi Arabia
Jordan

In [32]:
reversed_countries = list(reversed(countries))
reversed_countries

['Egypt', 'Spain', 'England', 'Qatar', 'Saudi Arabia', 'Jordan']

## Incorrect Usages

In [33]:
'Egypet'.reverse()

AttributeError: 'str' object has no attribute 'reverse'

In [34]:
countries = ['Egypt', 'Spain', 'England', 'Qatar', 'Saudi Arabia', 'Jordan']
tuple(countries).reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

## Reversing a string using slicing:

In [35]:
'Egypt'[::-1]

'tpygE'

## Reversing a tuple:

In [36]:
for country in reversed(tuple(countries)):
    print(country)

Jordan
Saudi Arabia
Qatar
England
Spain
Egypt

# Sequence Reversal Methods in Python

<table style="width:100%; border-collapse: collapse;">
    <thead>
        <tr style="background-color: #4CAF50; color: white; padding: 15px; text-align: left;">
            <th style="padding: 12px; border: 1px solid #ddd;">Method</th>
            <th style="padding: 12px; border: 1px solid #ddd;">Description</th>
            <th style="padding: 12px; border: 1px solid #ddd;">Example Code</th>
            <th style="padding: 12px; border: 1px solid #ddd;">Considerations</th>
        </tr>
    </thead>
    <tbody>
        <tr style="background-color: #f2f2f2; padding: 12px;">
            <td style="padding: 12px; border: 1px solid #ddd;"><strong>`reverse()`</strong></td>
            <td style="padding: 12px; border: 1px solid #ddd;">Reverses a mutable sequence in-place</td>
            <td style="padding: 12px; border: 1px solid #ddd;">
                <pre style="margin: 0; background-color: #e8f4f8; padding: 8px; border: 1px solid #ddd;"><code>numbers = [1, 2, 3, 4, 5]
numbers.reverse()
print(numbers)  # Output: [5, 4, 3, 2, 1]</code></pre>
            </td>
            <td style="padding: 12px; border: 1px solid #ddd;">
                - Not available for immutable sequences.<br>- Modifies the list in place.
            </td>
        </tr>
        <tr style="background-color: #ffffff; padding: 12px;">
            <td style="padding: 12px; border: 1px solid #ddd;"><strong>Slicing `[::-1]`</strong></td>
            <td style="padding: 12px; border: 1px solid #ddd;">Creates a reversed copy of a sequence</td>
            <td style="padding: 12px; border: 1px solid #ddd;">
                <pre style="margin: 0; background-color: #e8f4f8; padding: 8px; border: 1px solid #ddd;"><code>numbers = [1, 2, 3, 4, 5]
reversed_numbers = numbers[::-1]
print(reversed_numbers)  # Output: [5, 4, 3, 2, 1]</code></pre>
            </td>
            <td style="padding: 12px; border: 1px solid #ddd;">
                - Fastest for creating a reversed copy.<br>- Creates a new list, which may be memory-intensive for large sequences.
            </td>
        </tr>
        <tr style="background-color: #f2f2f2; padding: 12px;">
            <td style="padding: 12px; border: 1px solid #ddd;"><strong>`reversed()`</strong></td>
            <td style="padding: 12px; border: 1px solid #ddd;">Returns a reverse iterator</td>
            <td style="padding: 12px; border: 1px solid #ddd;">
                <pre style="margin: 0; background-color: #e8f4f8; padding: 8px; border: 1px solid #ddd;"><code>numbers = [1, 2, 3, 4, 5]
reversed_iterator = reversed(numbers)
print(list(reversed_iterator))  # Output: [5, 4, 3, 2, 1]</code></pre>
            </td>
            <td style="padding: 12px; border: 1px solid #ddd;">
                - Efficient for large sequences.<br>- Does not modify the original sequence.
            </td>
        </tr>
    </tbody>
</table>

## Palindrome Challenge
A palindrome is a sequence that reads the same forward and backward, ignoring spaces, punctuation, and capitalization.

In [37]:
import re

def is_palindrome(s):
    # Normalize the string: convert to lowercase and remove non-alphanumeric characters
    normalized_str = re.sub(r'[^a-zA-Z0-9]', '', s).lower()
    
    # Check if the normalized string is equal to its reverse
    return normalized_str == normalized_str[::-1]

# Test cases
test_strings = [
    "A man, a plan, a canal, Panama",
    "No 'x' in Nixon",
    "Hello, World!",
    "Was it a car or a cat I saw?",
    "Able was I ere I saw Elba"
]

# Running the function on test cases
for test in test_strings:
    result = is_palindrome(test)
    print(f'"{test}" is a palindrome: {result}')

"A man, a plan, a canal, Panama" is a palindrome: True
"No 'x' in Nixon" is a palindrome: True
"Hello, World!" is a palindrome: False
"Was it a car or a cat I saw?" is a palindrome: True
"Able was I ere I saw Elba" is a palindrome: True

In [38]:
words = 'Hello'

In [39]:
reversed(words)

In [40]:
''.join(reversed(words))

'olleH'

In [41]:
def is_palindrome(s):

    normalized_str = re.sub(r'[^a-zA-Z0-9]', '', s).lower()
    
    # Reverse the normalized string using ''.join(reversed())
    reversed_str = ''.join(reversed(normalized_str))
    
    # Check if the normalized string is equal to its reverse
    return normalized_str == reversed_str

for test in test_strings:
    result = is_palindrome(test)
    print(f'"{test}" is a palindrome: {result}')

"A man, a plan, a canal, Panama" is a palindrome: True
"No 'x' in Nixon" is a palindrome: True
"Hello, World!" is a palindrome: False
"Was it a car or a cat I saw?" is a palindrome: True
"Able was I ere I saw Elba" is a palindrome: True

---

# In-Depth Examples of min() and max()

The min() and max() functions in Python are used to find the smallest and largest values in an iterable or among multiple arguments.

In [42]:
max(10,22,30)

30

## Finding the Maximum Value

In [43]:
numbers = [10, 22, 30]
print(max(numbers))

30

In [44]:
countries = ['France', 'India', 'Mexico', 'South Korea', 'Turkey', 'Italy']
populations = [10_000_000, 20_000_000, 30_000_000, 40_000_000, 50_000_000, 60_000_000]

## Finding the Maximum Population

In [45]:
max(populations)

60000000

## Using min() and max() with Pairs
We can use zip() to pair countries with their populations and then use min() and max() to find the country with the smallest or largest population.

In [46]:
countries = ['France', 'India', 'Mexico', 'South Korea', 'Turkey', 'Italy']
populations = [10_000_000, 20_000_000, 30_000_000, 40_000_000, 50_000_000, 60_000_000]

pairs = list(zip(countries, populations))
print(pairs)

[('France', 10000000), ('India', 20000000), ('Mexico', 30000000), ('South Korea', 40000000), ('Turkey', 50000000), ('Italy', 60000000)]

### Finding the Country with the Minimum Population

In [47]:
print(min(pairs))

('France', 10000000)

## Using a key function:

In [48]:
def get_population(pair):
    country, population = pair
    return population

print(min(pairs, key=get_population))

('France', 10000000)

## Using a lambda function:

In [49]:
print(min(pairs, key=lambda x: x[1]))

('France', 10000000)

## Using max() directly:

In [50]:
print(max(pairs))

('Turkey', 50000000)

## Using a key function:

In [51]:
print(max(pairs, key=get_population))

('Italy', 60000000)

## Using min() and max() with Tuples

In [52]:
print(min(zip(populations, countries)))

(10000000, 'France')

## Maximum by Population First

In [53]:
print(max(zip(populations, countries)))

(60000000, 'Italy')

In [54]:
countries = ['France', 'India', 'Mexico', 'South Korea', 'Turkey', 'Italy']
populations = [10_000_000, 20_000_000, 30_000_000, 40_000_000, 50_000_000, 60_000_000]

pairs = list(zip(countries, populations))

min_population_country = min(pairs, key=lambda x: x[1])
max_population_country = max(pairs, key=lambda x: x[1])

print(f'The country with the smallest population is {min_population_country[0]} with {min_population_country[1]} people.')
print(f'The country with the largest population is {max_population_country[0]} with {max_population_country[1]} people.')

The country with the smallest population is France with 10000000 people.
The country with the largest population is Italy with 60000000 people.

## Summary Table for `min()` and `max()`

| Function | Example | Output | Explanation |
| --- | --- | --- | --- |
| `max(numbers)` | `max([10, 22, 30])` | `30` | Finds the maximum value in the list of numbers. |
| `max(populations)` | `max([10_000_000, 20_000_000, 30_000_000, 40_000_000, 50_000_000, 60_000_000])` | `60,000,000` | Finds the maximum population in the list. |
| `min(pairs)` | `min([('France', 10_000_000), ('India', 20_000_000), ('Mexico', 30_000_000), ('South Korea', 40_000_000), ('Turkey', 50_000_000), ('Italy', 60_000_000)])` | `('France', 10_000_000)` | Finds the minimum tuple based on the first element (country name). |
| `max(pairs)` | `max([('France', 10_000_000), ('India', 20_000_000), ('Mexico', 30_000_000), ('South Korea', 40_000_000), ('Turkey', 50_000_000), ('Italy', 60_000_000)])` | `('Turkey', 50_000_000)` | Finds the maximum tuple based on the first element (country name). |
| `min(pairs, key=get_population)` | `min(pairs, key=lambda x: x[1])` | `('France', 10_000_000)` | Finds the minimum tuple based on the second element (population). |
| `max(pairs, key=get_population)` | `max(pairs, key=lambda x: x[1])` | `('Italy', 60_000_000)` | Finds the maximum tuple based on the second element (population). |
| `min(zip(populations, countries))` | `min(zip([10_000_000, 20_000_000, 30_000_000, 40_000_000, 50_000_000, 60_000_000], ['France', 'India', 'Mexico', 'South Korea', 'Turkey', 'Italy']))` | `(10_000_000, 'France')` | Finds the minimum pair based on the population. |
| `max(zip(populations, countries))` | `max(zip([10_000_000, 20_000_000, 30_000_000, 40_000_000, 50_000_000, 60_000_000], ['France', 'India', 'Mexico', 'South Korea', 'Turkey', 'Italy']))` | `(60_000_000, 'Italy')` | Finds the maximum pair based on the population. |

**Explanation:**

- The `max()` and `min()` functions are used to find the maximum and minimum values, respectively, in a list or iterable.
- When used with `zip()`, they operate on pairs of values.
- Using a `key` argument allows specifying a function to extract a value for comparison, which can be useful when working with tuples or other complex data structures.

____

# Challenge max() and min()

- You are given a list of valid Scrabble words from a file and a sentence. Your task is to calculate the Scrabble score for each word in the sentence based on predefined letter values and determine the word with the highest score and the word with the lowest score.

In [55]:
# Let's create a sample dictionary.txt file with some Scrabble words.
dictionary_words = [
    "example", "scrabble", "word", "python", "dictionary", "valid", "letters", "score",
    "game", "play", "board", "tiles", "triple", "double", "bonus", "challenge" , "ELHASSAN" , "8_Essential_Python_Tips" ,
    "palestinewillbefree"
]

# Writing the words to a file named dictionary.txt
file_path = r'C:\Users\elhas\OneDrive\Desktop\8-Essential-Python-Tips-Every-Developer-Should-Know\dictionary.txt'
with open(file_path, 'w', encoding='utf-8') as file:
    for word in dictionary_words:
        file.write(word + '\n')

file_path

'C:\\Users\\elhas\\OneDrive\\Desktop\\8-Essential-Python-Tips-Every-Developer-Should-Know\\dictionary.txt'

In [56]:
#with open('/mnt/data/dictionary.txt', 'w', encoding='utf-8') as file:
#    file.write('\n'.join(words))

In [57]:
import string

# Define the dictionary file and letter scores
DICTIONARY = 'dictionary.txt'
letter_scores = {
    'a': 1, 'b': 3, 'c': 3, 'd': 2, 'e': 1, 'f': 4, 'g': 2, 'h': 4,
    'i': 1, 'j': 8, 'k': 5, 'l': 1, 'm': 3, 'n': 1, 'o': 1, 'p': 3,
    'q': 10, 'r': 1, 's': 1, 't': 1, 'u': 1, 'v': 4, 'w': 4, 'x': 8,
    'y': 4, 'z': 10
}

def get_scrabble_dictionary():
    """Helper function to return the words in DICTIONARY as a list."""
    with open(DICTIONARY, 'r', encoding='utf-8') as file:
        content = file.read().splitlines()
    return content

def score_word(word):
    """Return the score for a word using letter_scores.
    If the word isn't in DICTIONARY, it gets a score of 0."""
    scrabble_dictionary = set(get_scrabble_dictionary())
    cleaned_word = remove_punctuation(word).lower()
    if cleaned_word not in scrabble_dictionary:
        return 0
    score = sum(letter_scores.get(letter, 0) for letter in cleaned_word)
    return score

def remove_punctuation(word):
    """Helper function to remove punctuation from a word."""
    table = str.maketrans('', '', string.punctuation)
    return word.translate(table)

def get_word_largest_score(sentence):
    """Given a sentence, return the word in the sentence with the largest score."""
    words = sentence.split()
    word_scores = {word: score_word(word) for word in words}
    highest_score_word = max(word_scores, key=word_scores.get)
    return highest_score_word, word_scores[highest_score_word]

In [58]:
# Example usage
word = "python"
score = score_word(word)
print(f'The score for the word "{word}" is {score}.')

sentence = "palestinewillbefree"
word, score = get_word_largest_score(sentence)
print(f'The word with the highest score in the sentence is "{word}" with a score of {score}.')

The score for the word "python" is 14.
The word with the highest score in the sentence is "palestinewillbefree" with a score of 29.

---

## In-Depth Examples of Sorted()

- sorted(iterable, *, key=None, reverse=False)

The sorted() function in Python offers a versatile approach to sorting elements within iterables (like lists, tuples, and strings). It creates a new sorted list, preserving the original one.

- **iterable**: The data structure you want to sort (e.g., a list of countries, a string).
- **key** (optional): A function that defines the sorting criteria. It takes one element as input and returns a value used for comparison.
- **reverse** (optional): A boolean flag to sort in descending order (default is False for ascending).

In [59]:
class Country:
    def __init__(self,name,population):
        self.name = name
        self.population = population
    def __repr__(self):
        return f'Country({self.name},{self.population})'


country_list = [
    Country('Egypt', 110_000_000),
    Country('Saudi Arabia', 34_000_000),
    Country('United Arab Emirates', 9_800_000),
    Country('Algeria', 43_000_000),
    Country('Morocco', 36_000_000),
    Country('Iraq', 40_000_000),
    Country('Sudan', 43_000_000),
    Country('Syria', 17_500_000),
    Country('Jordan', 10_000_000),
    Country('Palestine', 5_000_000)
]

## Ascending Order by Population

In [60]:
sorted(country_list,key=lambda x: x.population)

[Country(Palestine,5000000),
 Country(United Arab Emirates,9800000),
 Country(Jordan,10000000),
 Country(Syria,17500000),
 Country(Saudi Arabia,34000000),
 Country(Morocco,36000000),
 Country(Iraq,40000000),
 Country(Algeria,43000000),
 Country(Sudan,43000000),
 Country(Egypt,110000000)]

## Descending Order by Population

In [61]:
sorted(country_list,key=lambda x: x.population, reverse=True)

[Country(Egypt,110000000),
 Country(Algeria,43000000),
 Country(Sudan,43000000),
 Country(Iraq,40000000),
 Country(Morocco,36000000),
 Country(Saudi Arabia,34000000),
 Country(Syria,17500000),
 Country(Jordan,10000000),
 Country(United Arab Emirates,9800000),
 Country(Palestine,5000000)]

## Sorting by Population (Descending Order)

In [62]:
sorted(country_list,key=lambda x: -x.population)

[Country(Egypt,110000000),
 Country(Algeria,43000000),
 Country(Sudan,43000000),
 Country(Iraq,40000000),
 Country(Morocco,36000000),
 Country(Saudi Arabia,34000000),
 Country(Syria,17500000),
 Country(Jordan,10000000),
 Country(United Arab Emirates,9800000),
 Country(Palestine,5000000)]

##  Sorting by Population (Primary) and Name (Secondary):

In [63]:
sorted(country_list,key=lambda x: (-x.population,x.name))

[Country(Egypt,110000000),
 Country(Algeria,43000000),
 Country(Sudan,43000000),
 Country(Iraq,40000000),
 Country(Morocco,36000000),
 Country(Saudi Arabia,34000000),
 Country(Syria,17500000),
 Country(Jordan,10000000),
 Country(United Arab Emirates,9800000),
 Country(Palestine,5000000)]

## Handling Unsupported Operations (Error Case):

In [64]:
try:
  sorted_by_invalid = sorted(country_list, key=lambda x: (-x.population, -x.name))
except TypeError as e:
  print(f"Error: {e}")

Error: bad operand type for unary -: 'str'

## Sorting by Population (Descending Order) and Country Name (Ascending Order)

In [65]:
sorted(country_list,key=lambda x: (x.population,x.name),reverse=True)

[Country(Egypt,110000000),
 Country(Sudan,43000000),
 Country(Algeria,43000000),
 Country(Iraq,40000000),
 Country(Morocco,36000000),
 Country(Saudi Arabia,34000000),
 Country(Syria,17500000),
 Country(Jordan,10000000),
 Country(United Arab Emirates,9800000),
 Country(Palestine,5000000)]

## Sorting a List of Country-ISO Pairs by Population

In [66]:
iso = [
    ('Egypt', 'iso110000000'),
    ('Saudi Arabia', 'iso34000000'),
    ('United Arab Emirates', 'iso9800000'),
    ('Algeria', 'iso43000000'),
    ('Morocco', 'iso36000000'),
    ('Iraq', 'iso40000000'),
    ('Sudan', 'iso43000000'),
    ('Syria', 'iso17500000'),
    ('Jordan', 'iso10000000'),
    ('Palestine', 'iso5000000')
]

## Extracting and Sorting Population Data from Embedded ISO Codes

In [67]:
def  get_population(pair):
    counrty,population = pair
    return int(population[3:])

sorted(iso,key=get_population,reverse=True)

[('Egypt', 'iso110000000'),
 ('Algeria', 'iso43000000'),
 ('Sudan', 'iso43000000'),
 ('Iraq', 'iso40000000'),
 ('Morocco', 'iso36000000'),
 ('Saudi Arabia', 'iso34000000'),
 ('Syria', 'iso17500000'),
 ('Jordan', 'iso10000000'),
 ('United Arab Emirates', 'iso9800000'),
 ('Palestine', 'iso5000000')]

_____

# Challenge: `sorted()`

## Understanding ASCII values

- We start by importing the `string` module and exploring the ASCII values for lowercase and uppercase letters.

In [68]:
import string

# Lowercase ASCII values
print(string.ascii_lowercase) 
lowercase_ascii_values = [ord(char) for char in string.ascii_lowercase]
print(lowercase_ascii_values)

abcdefghijklmnopqrstuvwxyz
[97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122]

In [69]:
# Uppercase ASCII values
print(string.ascii_uppercase)  
uppercase_ascii_values = [ord(char) for char in string.ascii_uppercase]
print(uppercase_ascii_values)

ABCDEFGHIJKLMNOPQRSTUVWXYZ
[65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90]

You can see that the ASCII values for uppercase letters are lower than those for lowercase letters. This means that if we sort by letters, uppercase letters will always be displayed before lowercase letters, as observed earlier.

## Creating a Country Class

In [70]:
class Country:
    def __init__(self, name, population):
        self.name = name
        self.population = population
    
    def __repr__(self):
        return f'Country({self.name},{self.population})'
    
    def __eq__(self, other):
        return f'Country({self.name}, {self.population})' == f'Country({other.name}, {other.population})'

## Country List
- We define a list of tuples containing country names and their populations.

In [71]:
country_list = [
    Country('Egypt', '110000000iso'),
    Country('Saudi Arabia', '34000000iso'),
    Country('United Arab Emirates', '9800000iso'),
    Country('Algeria', '43000000iso'),
    Country('Morocco', '36000000iso'),
    Country('Iraq', '40000000iso'),
    Country('Sudan', '43000000iso'),
    Country('Syria', '17500000iso'),
    Country('Jordan', '10000000iso'),
    Country('Palestine', '5000000iso')
]

## Helper Function: get_population
- We define a helper function to extract the numerical population from the population string.

In [72]:
def get_population(pair):
    country, population = pair.name, pair.population
    return int(population[:-3])

## Sorting the Country List
- Finally, we create a function to sort the country list first by population and then alphabetically by country name.

In [73]:
def get_sorted():
    """
    Return the country list so that it is sorted first by population
    and then alphabetically by country name.
    """
    #result = sorted(country_list, key=lambda x: x.name.lower())
    #return sorted(result,key=get_population)
    return sorted(country_list, key=lambda x:(int(x.population[:-3]), x.name.lower()))

# Print sorted countries
sorted_countries = get_sorted()
for country in sorted_countries:
    print(country)

Country(Palestine,5000000iso)
Country(United Arab Emirates,9800000iso)
Country(Jordan,10000000iso)
Country(Syria,17500000iso)
Country(Saudi Arabia,34000000iso)
Country(Morocco,36000000iso)
Country(Iraq,40000000iso)
Country(Algeria,43000000iso)
Country(Sudan,43000000iso)
Country(Egypt,110000000iso)

-----------------
-----------------